---
layout: layouts/home.njk
permalink: 404.html
eleventyExcludeFromCollections: true
numberOfLatestPostsToShow: 3
---
<h1>404</h1>

<br />

Uh oh, looks like that URL doesn't exist!  Go <a href="/">home</a> or check out one of these recent posts: 

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% include "postslist.njk" %}
