{%- css %}{% include "public/css/postlist.css" %}{% endcss %}
<ul reversed class="postlist">
{% for post in postslist | reverse %}
    <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
      <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
      {% if post.data.lede %}
        <p class="lede">
          {{ post.data.lede }}
        </p>
      {% endif %}
      <div class="post-meta">
        <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time> ⋅
        {{ post.content | timeToRead }}
        {% if (post.data.tags | length) > 1 %}
         ⋅
        {% endif %}
        {% set comma = joiner() %}
        {% for tag in post.data.tags -%}
          {% if tag !== 'posts' %}
            {{ comma() }} <a href="/tags/{{ tag | slugify }}" data-pagefind-filter="tag">#{{ tag }}</a>
          {% endif %}
        {%- endfor %}
      </div>
    </li>
{% endfor %}
</ul>
