---
layout: layouts/base.njk
---
{%- css %}{% include "node_modules/prismjs/themes/prism-tomorrow.css" %}{% endcss %}

<article class="flow">
  <h1>{{ title }}</h1>
  <p class="lede">{{ lede }}</p>
  <div class="post-meta">{{ date | readableDate }} ⋅ {{ content | timeToRead }}</div>
  {{ content | safe }}
</article>
